<button mat-button class="mat-button" type="submit" cdkStepperNext
  [disabled]="checkoutFormGroup.get('deliveryForm').invalid">
  Далее
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    keyboard_arrow_right
  </mat-icon>
</button>

<div class="delivery-wrapper" [formGroup]="checkoutFormGroup">
  <form formGroupName="deliveryForm">
    <mat-radio-group formControlName="deliveryMethod">
      <mat-radio-button *ngFor="let method of deliveryMethods" value={{method.id}} id={{method.id}}
        (click)="setShipingPrice(method)">
        <p>{{method.description}}</p>
        <p><b>{{method.price | currency : 'RUB' : 'symbol-narrow'}}</b></p>
        <p>{{method.deliveryTime}}</p>
      </mat-radio-button>
    </mat-radio-group>
  </form>



</div>