.mat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #202020;
  vertical-align: middle;
  cursor: pointer;
  height: 40px;
  margin-top: 0px;
  transition: all 0.2s ease-out;
  position: relative;
  min-width: 200px;

  mat-icon {
    color: white;
    cursor: pointer;
    font-weight: 300;
    font-size: 15px;
    position: relative;
    top: 4px;
    margin-left: 2px;
  }
}

.mat-button:hover {
  background-color: rgb(5, 5, 31);
}

.mat-button:disabled,
.mat-button:disabled:hover {
  background-color: darkgrey;
  color: white;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  margin-right: 20px;
}

.pay-cash-wrapper {
  display: flex;
}

@media (max-width: 570px) {
  .pay-cash-wrapper {
    display: block;

    .mat-button {
      margin-bottom: 20px;
    }
  }
}
